*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  // 300,400,500
  font-family: "Inter", sans-serif;
  color: var(--color-font);
  background-color: var(--bg-canvas);
}
img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0 0 0.65em;
}
p {
  margin: 0 0 1.15em;
}
li {
  margin: 0.45rem;
}
#root,
#__next {
  isolation: isolate;
}
.font-inter {
  font-family: "Inter", sans-serif;
}
.font-kumbh {
  font-family: "Kumbh Sans", sans-serif;
}

@for $i from 1 to 10 {
  $weight: $i * 100;
  .font-#{$weight} {
    font-weight: $weight;
  }
}

// colors
.dark,
html[theme="dark"] {
  --color-primary: #041c32;
  --color-secondary: #04293a;
  --color-accent: #064663;
  --color-font: rgb(173, 173, 173);
  --color-font-dimmed: rgba(173, 173, 173, 0.767);
  --bg-primary: #0b2338;
  --bg-canvas: #04293a;
  --nav-border: #898989;
  --writing-item-border: rgba(139, 139, 139, 0.349);

  &:root {
    color-scheme: dark;
  }
}

.light,
html[theme="light"] {
  --color-primary: #d4ecdd;
  --color-secondary: #345b63;
  --color-accent: #152d35;
  --color-font: rgb(36, 36, 36);
  --color-font-dimmed: rgba(36, 36, 36, 0.767);
  --bg-primary: #f3f3f3;
  --bg-canvas: #f5f5f5;
  --nav-border: #b5b5b5;
  --writing-item-border: rgba(139, 139, 139, 0.349);
  --color-scheme: light;

  &:root {
    color-scheme: light;
  }
}

.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;

  &.content {
    padding-top: 32px;
    border-bottom: solid 1px rgb(173, 173, 173, 0.3);
    padding-bottom: 16px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 860px;
  }
}

iframe {
  max-width: 100%;
}
